@{
    ViewData["Title"] = "Domiciliation Already Exists";
}

<div class="container mt-5">
    <div class="alert alert-warning text-center">
        <h4 class="alert-heading">Attention</h4>
        <p>@ViewBag.Message</p>
    </div>
    <div class="text-center mt-3">
        <a href="/Dashboard" class="btn btn-primary">Voire Dasboard</a>
    </div>
</div>
